<div class="card">
  <div class="title">
    <h1 class="display-3">{{dataTitle}}</h1>
    <p class="display-5" (click)="goBack()" style="width: 100%;">Is there any other data you'd like to see? Click here to go back.</p>
  </div>

    <div [ngSwitch]="chosenChartType">
      <div class="data-table">
        <div *ngSwitchCase="'verticalBarChart'">
          <!-- ideally these will all be abstracted away, for better single[] v multi[] storage -->
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="chartResponse.chartDataResponse"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            >
          </ngx-charts-bar-vertical>
        </div>

        <div *ngSwitchCase="'multiVerticalBarChart'">
          <ngx-charts-bar-vertical-2d
            [view]="view"
            [scheme]="colorScheme"
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showDataLabel]="true"
            [barPadding]=4
            >
          </ngx-charts-bar-vertical-2d>
        </div>


        <div *ngSwitchCase="'pieChart'">
          <ngx-charts-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="chartResponse.chartDataResponse"
            [gradient]="gradient"
            [labels]="true"
            [labelFormatting]="">
          </ngx-charts-pie-chart>
        </div>

        <div *ngSwitchCase="'advancedPieChart'" class="advancedPieChart" style="z-index: 750;">
          <ngx-charts-advanced-pie-chart
            [view]="viewAdvancedPieChart"
            [scheme]="colorScheme"
            [results]="chartResponse.chartDataResponse"
            [gradient]="gradient"
            [label]="xAxisLabel">
          </ngx-charts-advanced-pie-chart>
        </div>
        <div *ngSwitchDefault=""><p>We're sorry, an error has occurred. ['chosenChartType' is not defined]</p>
        </div>
      </div>
    </div>
  </div>
