.display-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-5:hover {
  cursor: pointer;
}
 .data-table {
  display: flex;
  justify-content: center;
  align-self: center;
}
.ngx-charts {
  display: inline-block;
}
.advancedPieChart {
  margin-top: -200px;
  margin-left: 25%;
}

.advanced-pie-legend-wrapper {
  height: 400px !important;
  margin-top: 200px;
}
