<div class="card">
  <div class="title">
    <h1 class="display-3">Dataville!</h1>
    <p class="display-5" (click)="goBack()">Is there any other data you'd like to see?</p>
  </div>

    <div [ngSwitch]="chosenChartType">
      <div class="data-table">
        <div *ngSwitchCase="'verticalBarChart'">
          <!-- ideally these will all be abstracted away, for better single[] v multi[] storage -->
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
          </ngx-charts-bar-vertical>
        </div>


        <div *ngSwitchCase="'pieChart'">
          <ngx-charts-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [labels]="true">
          </ngx-charts-pie-chart>
        </div>

        <div *ngSwitchCase="'advancedPieChart'" class="advancedPieChart">
          <ngx-charts-advanced-pie-chart
            [view]="viewAdvancedPieChart"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient">
          </ngx-charts-advanced-pie-chart>
        </div>
        <div *ngSwitchDefault=""><p>We're sorry, an error has occurred. ['chosenChartType' is not defined]</p>
        </div>
      </div>
    </div>
  </div>
