<div class="container-charts-landing">
  <div class="card mb3" style="margin-bottom: 3em; margin-top: 1em;">
    <form #chartsForm="ngForm" (ngSubmit)="makeChart(chartsForm)" style="padding: 1em 1em 1em 1em;">
      <h2>See data about...</h2>
        <div id="questions" class="form-group">
          <fieldset>

            <!-- have these be clicks instead -->
            <input class="zoom hover genre" [(ngModel)]="chart.chosenDataChoice" name="chosenDataChoice" id="'genre'" [value]="'genre'" type="radio">
            <label for="'genre'">Genre</label>

            <input class="zoom hover author" [(ngModel)]="chart.chosenDataChoice" name="chosenDataChoice" id="'author'" [value]="'author'" type="radio">
            <label for="'author'">Author Demographics</label>

            <input class="zoom hover protagonist" [(ngModel)]="chart.chosenDataChoice" name="chosenDataChoice" id="'protagonist'" [value]="'protagonist'" type="radio">
            <label for="'protagonist'" (click)="selectDataChoice('protagonist')">Protagonist Demographics
            </label>

          </fieldset>
        </div>

      <h2 style="text-align: center; margin-top: 1em;">...using this chart:</h2>
      <div id="chart-types">
        <input [(ngModel)]="chart.chosenChartType" name="chosenChartType" id="'verticalBarChart'" [value]="'verticalBarChart'" type="radio">
        <label class="zoom hover vertical-bar" for="'verticalBarChart'">
          <ngx-charts-bar-vertical
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
          </ngx-charts-bar-vertical>
        </label>

        <input> <!-- Mid-revision switched to other file. -->
          <ngx-charts-advanced-pie-chart
          [scheme]="colorScheme"
          [results]="single"
          [gradient]="gradient"
          (click)="selectChartType('advancedPieChart')">
          </ngx-charts-advanced-pie-chart>
        </>

        <input [(ngModel)]="chart.chosenChartType" name="chosenChartType" id="'pieChart'"  [value]="'pieChart'" type="radio">
        <label class="zoom hover pie" for="'pieChart'">
          <ngx-charts-pie-chart
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [labels]="true"
            (click)="onSelectPie($event)">
          </ngx-charts-pie-chart>
        </label>
      </div>

      <div style="margin-left: auto; margin-right: 0;">
        <button type="submit"
        class="btn btn-primary btn-lg"
        style="margin: 1em 0 1em 1em; margin-right: 1em;"
        routerLink="/data/custom-chart">
        Go!</button>
      </div>
  </form>
  </div>
</div>
