<div class="container-charts-landing">
  <div class="card mb3" style="margin-bottom: 3em; margin-top: 1em;">
    <form #chartsForm="ngForm" (ngSubmit)="setSwitch(chartsForm)" style="padding: 1em 1em 1em 1em;">
        <h2>See data about...</h2>
        <div id="questions">
        <span class="zoom hover genre">Genre</span>
        <span class="zoom hover author">Author Demographics</span>
        <span class="zoom hover protagonist">Protagonist Demographics</span>
        </div>

      <h2 style="text-align: center; margin-top: 1em;">...using this chart:</h2>
      <div id="chart-types">
        <span class="zoom hover vertical-bar">
          <ngx-charts-bar-vertical
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (click)="onSelectBar($event)">
          </ngx-charts-bar-vertical>
        </span>
        <span class="zoom hover advanced-pie">
          <ngx-charts-advanced-pie-chart
          [scheme]="colorScheme"
          [results]="single"
          [gradient]="gradient"
          (click)="onSelectAdvancedPie($event)">
          </ngx-charts-advanced-pie-chart>
        </span>
        <span class="zoom hover pie">
          <ngx-charts-pie-chart
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [labels]="true"
            (click)="onSelectPie($event)">
          </ngx-charts-pie-chart>
        </span>
      </div>

      <div style="margin-left: auto; margin-right: 0;">
        <button type="submit"
        class="btn btn-primary btn-lg"
        style="margin: 1em 0 1em 1em; margin-right: 1em;">
        Go!</button>
      </div>
  </form>
  </div>
</div>
<br><br><br>

<div class="card">
<h1 class="display-3">Where we want the "Go!" button to go:</h1>
  <div [ngSwitch]="chosenChartType">

    <div *ngSwitchCase="'verticalBarChart'">
      <ngx-charts-bar-vertical
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
       </ngx-charts-bar-vertical>
    </div>


    <div *ngSwitchCase="'pieChart'">
      <ngx-charts-pie-chart
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [labels]="true">
      </ngx-charts-pie-chart>
    </div>

    <div *ngSwitchCase="'advancedPieChart'">
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div *ngSwitchDefault="">Default! Probably won't ever hit this, since 'chosenChartType' is instantiated from the get-go.
    </div>
  </div>
</div>
