<ol class="book-list">
  <li *ngFor="let book of books" [class.selected]="book === selectedBook" (click)="onSelect(book)" trackBy=trackbyBooks>
      <div *ngIf="selectedBook === book; else unselectedBook"> <!-- did contain 'class="selected"' but didn't seem to do anything-->
        <app-book-detail [book]="selectedBook"></app-book-detail>
      </div>
      <ng-template #unselectedBook>
      <app-unselected-book [book]="book"></app-unselected-book>
      </ng-template>
  </li>
</ol>
<!--
Following tutorial:
<ol class="book-list">
  <li *ngFor="let book of books">
    <a routerLink="/book-detail/{{book.id}}">
      <span>{{book.id}}</span>
    </a>
  </li>
</ol> -->
