<div class="container">
  <div class="jumbotron">
    <h1>
      <a href="#"> {{ title }} </a>
    </h1>
    <h2>hey, beth</h2>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/#">NAVBAR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/books">Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">New Entry</a>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/most-recent-entries">Most Recent Entries</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" placeholder="Search" type="text">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <!-- <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">BOOKS</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table> -->


  <!-- <app-books></app-books> -->

  <router-outlet></router-outlet>

</div>
