<div *ngIf="book">


  <div class="card border-dark mb-3">
    <div class="card-header">AUTHOR NAME</div>
    <div class="card-body">
      <h4 class="card-title" style="margin-bottom: 1em;">{{ book.title | uppercase }}</h4>
      <div class="wrapper card-text">

        <div class="cover">
          <img width="200" alt="Book Cover" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
        </div>
        <div class="info">
          <div>Have I read it? </div>
          {{book.read}}

          <div>Do I own it? </div>
          {{book.ownership}}

          <div>Female protagonist? </div>
          {{book.femaleProtagonist}}

          <div>Female role model? </div>
          {{book.femaleRoleModel}}

          <div>LGBTQ protagonist? </div>
          {{book.lgbtqProtagonist}}

          <div>LGBTQ sidekick? </div>
          {{book.lgbtqSidekick}}

          <div>LGBTQ theme(s)? </div>
          {{book.lgbtqTheme}}

        </div>

      </div>

      <div class="rating" *ngIf="book.rating">
        <label class="col-form-label" for="ratingDisplay" id="ratingDisplay" style="width: 100%;">Rating:
          <div class="rating-border">
          <div class="progress-bar progress-easy" role="progressbar" id="ratingDisplay" [attr.aria-valuenow]="book.rating" aria-valuemin="0" aria-valuemax="10"
            [style.width]="(book.rating)*10+'%'">
            {{book.rating}}
          </div>
          </div>
        </label>
      </div>     <!-- rating-->

    </div> <!-- card body -->

  </div><!-- card border -->
</div>
