/* This is from book-detail. Scroll below "unselected-book" code to view more misc classes. */
.wrapper-for-details {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 15px;
  grid-template-areas: 'fields buttons';
}
.fields {
  grid-area: 'fields';
}
.button-details {
  grid-area: 'buttons';
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
        'left right';
  grid-column-gap: 2em;
  display: grid;
}
.left-column {
  grid-area: 'left';
}
.label {
  text-align: right;
}
.right-column {
  grid-area: 'right';
}
.button { /* used for radio buttons */
  vertical-align: middle;
}

/* This is all essentially the same as unselected-book
.wrapper {
  display: grid;
  grid-template-columns: 20% 75% 5%;
  grid-gap: 15px;
  grid-template-areas: 'cover info';
}
.cover {
  grid-area: 'cover';
}
.info {
  grid-area: 'info';
  grid-template-areas:
      'question-left-column answer-left-column question-right-column answer-right-column';
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1em;
  display: grid;
  margin-bottom: 1em;
}
.question-left-column {
  grid-area: 'question-left-column';
  text-align: right;
}
.answer-left-column {
  grid-area: 'answer-left-column';
}
.question-right-column {
  grid-area: 'question-right-column';
  text-align: right;
}
.answer-right-column {
  grid-area: 'answer-right-column';
} */
.wrapper:hover {
  cursor: pointer;
}
.rating {
  display: flex;
  justify-content: center;
}
.selected {
  margin-left: 1em;
}
