<p>You got to the book detail page!</p>
<div class="card border-dark mb-3">
  <div class="card-header">AUTHOR NAME</div>
  <div class="card-body">
    <form #bookDetail="ngForm" (ngSubmit)="save()">
      <div class="form-group">
        <label class="col-form-label" id="title" for="title" name="title">Title: </label>
        <input [(ngModel)]="book.title" id="title" name="title" class="form-control" placeholder="Book title" type="text">
      </div>


      <div class="wrapper-for-details card-text">
        <div class="fields">
          <img alt="Book Cover" width="200" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

          <fieldset>
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input class="custom-file-input" id="inputGroupFile02" type="file">
                  <label class="custom-file-label" for="inputGroupFile02">Book cover file</label>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text" id="">Upload</span>
                </div>
              </div>
            </div>
          </fieldset>

        </div>
        <!-- fields -->

        <div class="button-details">
          <legend class="left label">Have I read it?</legend>
          <fieldset>
            <div class="form-group button right">
              <div class="custom-control custom-radio custom-control-inline">
                <input id="read-yes" name="read" class="custom-control-input" type="radio">
                <label class="custom-control-label" for="read-yes" name="read">Yes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input id="read-no" name="read" class="custom-control-input" type="radio">
                <label class="custom-control-label" for="read-no" name="read">No</label>
              </div>
            </div>
          </fieldset>


          <fieldset>
            <div class="form-group left">
              <div class="custom-control custom-checkbox custom-control-inline" style="text-align: right;">
                <input [(ngModel)]=book.female_protagonist class="custom-control-input" name="female_protagonist" id="female-protagonist"
                  type="checkbox">
                <label class="custom-control-label" for="female-protagonist" id="female-protagonist"  name="female_protagonist">Female protagonist</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline" style="text-align: right;">
                <input [(ngModel)]=book.female_role_model class="custom-control-input" name="female_role_model" id="female-role-model"
                  type="checkbox">
                <label class="custom-control-label" for="female-role-model" id="female-role-model" name="female_role_model">Female role model</label>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group right">
              <div class="custom-control custom-checkbox custom-control-inline">
                <input [(ngModel)]=book.lgbtq_protagonist class="custom-control-input" name="lgbtq_protagonist" id="lgbtq_protagonist"
                  type="checkbox">
                <label class="custom-control-label" for="lgbtq_protagonist" id="lgbtq_protagonist" name="lgbtq_protagonist">LGBTQ protagonist</label>
              </div>
            </div>
          </fieldset>

        </div>
        <!-- button-details -->

      </div>
      <!-- wrapper -->

        <label class="col-form-label" for="inputRating" id="inputRating" name="rating">Rating: </label>
        <input [(ngModel)]=book.rating class="form-control" placeholder="Out of ten" name="rating" id="inputRating" type="text">


        <div class="rating-border rating">
          <div class="progress-bar progress-easy" role="progressbar" id="ratingDisplay" [attr.aria-valuenow]="book.rating" aria-valuemin="0"
            aria-valuemax="10" [style.width]="(book.rating)*10+'%'">
            {{book.rating}}
          </div>
        </div>

      <div class="form-inline">
        <button (click)="save()" type="submit" class="btn btn-primary" style="margin: 1em 0 0 1em;">Submit</button>
        <button (click)="goBack()" class="btn btn-primary" style="margin: 1em 0 0 1em;">Cancel</button>
      </div>

    </form>
  </div>
</div>
