<p>You got to the book detail page!</p>
<div class="card border-dark mb-3">
  <div class="card-header">AUTHOR NAME</div>
  <div class="card-body">
    <form #bookDetail="ngForm" name="bookDetail"><!--(ngSubmit)="updateThisBook(bookDetail.value)"  [ngModelOptions]="{updateOn: 'submit'}" -->
      <div class="form-group">
        <label class="col-form-label" id="title" for="title">Title: </label>
        <input [(ngModel)]="book.title" ngDefaultControl name="title" id="title" class="form-control" placeholder="Book title" type="text">
      </div>


      <div class="wrapper-for-details card-text">
        <div class="fields">
            <img alt="Book Cover" width="200" [ngModel]="book.cover" ngDefaultControl>

          <fieldset>
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input class="custom-file-input" (ngModel)="book.cover" ngDefaultControl id="inputGroupFile02" type="file" name="book-cover">
                  <label class="custom-file-label" for="inputGroupFile02" name="book-cover">Book cover image</label>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text" id="">Upload</span>
                </div>
              </div>
            </div>
          </fieldset>

        </div>
        <!-- fields -->

        <div class="button-details">
          <legend class="left label" name="read">Have I read it?</legend>
          <fieldset>
            <div class="radio button right">
              <div class="custom-control custom-radio custom-control-inline">
                <input id="read-yes" name="read" class="custom-control-input" [value]="book.read" ngModel ngDefaultControl type="radio">
                <label class="custom-control-label" for="read-yes" name="read">Yes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input id="read-no" name="read" class="custom-control-input" [value]="book.read" ngModel ngDefaultControl type="radio">
                <label class="custom-control-label" for="read-no" name="read">No</label>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group left">
              <div class="custom-control custom-checkbox custom-control-inline" style="text-align: right;">
                <input [(ngModel)]="book.femaleProtagonist" ngDefaultControl class="custom-control-input" name="femaleProtagonist" id="femaleProtagonist"
                  type="checkbox">
                <label class="custom-control-label" for="femaleProtagonist" id="femaleProtagonist" name="femaleProtagonist">Female protagonist</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline" style="text-align: right;">
                <input [(ngModel)]="book.femaleRoleModel" ngDefaultControl class="custom-control-input" name="femaleRoleModel" id="femaleRoleModel" type="checkbox">
                <label class="custom-control-label" for="femaleRoleModel" id="femaleRoleModel" name="femaleRoleModel">Female role model</label>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group right">
              <div class="custom-control custom-checkbox custom-control-inline">
                <input [(ngModel)]="book.lgbtqProtagonist" ngDefaultControl class="custom-control-input" name="lgbtq_protagonist" id="lgbtq_protagonist" type="checkbox">
                <label class="custom-control-label" for="lgbtq_protagonist" id="lgbtq_protagonist" name="lgbtq_protagonist">LGBTQ protagonist</label>
              </div>
            </div>
          </fieldset>
        </div>
        <!-- button-details -->
      </div>
      <!-- wrapper -->

      <label class="col-form-label" for="inputRating" id="inputRating" name="rating">Rating: </label>
      <input [(ngModel)]="book.rating" ngDefaultControl class="form-control" placeholder="Out of ten" name="rating" id="inputRating" type="text">


      <div class="rating-border rating">
        <div class="progress-bar progress-easy" role="progressbar" id="ratingDisplay" [attr.aria-valuenow]="book.rating" aria-valuemin="0"
          aria-valuemax="10" [style.width]="(book.rating)*10+'%'">
          {{book.rating}}
        </div>
      </div>

      <div class="form-inline">
        <div *ngIf="compareToBooksUrl; else standaloneDetailsPage">

          <!-- If submit is on the books page, I want it to save the data and rerender the book as a deselected book. -->
          <button (click)="updateThisBook(bookDetail.value)" ngDefaultControl (click)="deSelectBook($event)" type="submit" class="btn btn-primary" style="margin: 1em 0 0 1em;">Submit</button>
          <!-- If cancel is on the books page, I want it to  rerender the book as a deselected book. -->
          <!-- PROBLEM: this still saves data with the mock-api. -->
          <button (click)="deSelectBook($event)" class="btn btn-primary" style="margin: 1em 0 0 1em;">Cancel</button>
        </div>

        <ng-template #standaloneDetailsPage>
          <button (click)="updateThisBook(bookDetail.value)" (click)="goBack(book)" type="submit" class="btn btn-primary" style="margin: 1em 0 0 1em;">Submit</button>
          <button (click)="goBack(book)" class="btn btn-primary" style="margin: 1em 0 0 1em;">Cancel</button>
        </ng-template>
      </div>
    </form>
  </div>
</div>
