.wrapper-for-details {
  display: grid;
  /* autoprefixer: off */
  grid-template-columns: 30% 70%;
  grid-gap: 15px;
  grid-template-areas: 'open-fields buttons';
}
.fields {
  grid-area: 'open-fields';
}
.button-details {
  display: grid;
    /* autoprefixer: off */ /* removing that comment pops errors from the CLI's autoprefixer*/
  grid-area: 'buttons';
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
        'left right';
  grid-column-gap: 2em;
}
.left-column {
  grid-area: 'left';
}
.label {
  text-align: right;
}
.right-column {
  grid-area: 'right';
}
.button {
  vertical-align: middle;
}
.wrapper:hover {
  cursor: pointer;
}
.rating {
  display: flex;
  justify-content: left;
}
.rating-border {
  background-color: #f1f1f1;
}
